.histogram {

  display: flex;
  flex-direction: column;

  height: 185px;

  box-sizing: border-box;

  background: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;

  padding: 16px 24px 24px;

}


.histogram__info {
  display: flex;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  
  color: var(--black);
}

.histogram__info__title {
  opacity: 0.8;
  flex-grow: 1;
}

.histogram__info__link {
  text-align: right;
  color: var(--blue);
  padding: 3px 0;
}

.histogram__info__orders-count {
  font-size: 20px;
  line-height: 26px;
}

.histogram__field {
  height: 50px;

  display: flex;
  align-items: end;
  justify-content: stretch;
  column-gap: 1px;
}

.histogram__field__column {
  width: 9px;
  background: var(--blue);
}
