.skeleton {
  box-sizing: border-box;

  background: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;

  padding: 24px 40px 32px 24px;
}

.skeleton__header {
  display: flex;
}

.skeleton__title {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}

.skeleton__description {
  padding-top: 16px;
}

.skeleton__circle {
  width: 64px;
  height: 64px;
  background: var(--grey-2);
  border-radius: 50%;
}

.skeleton__tape {
  height: 20px;
  background: linear-gradient(92.51deg, var(--grey-2) 6.44%, var(--grey-1-5) 38.47%, var(--grey-1) 56.48%, var(--grey-1-5) 77.5%, var(--grey-2) 102.52%);
}

.skeleton__tape + .skeleton__tape {
  margin-top: 8px;
}

.skeleton__tape_large {
  width: 100%;
}
.skeleton__tape_small {
  width: 35%;
}
.skeleton__tape_medium {
  width: 53%;
}
